/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    border-radius:3px;
    background:#f7f7f7;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #a8a8a8;
    background:#fff;
    transition:all linear 0.15s;
    /* Type */
    font-size:2em;
    color:$lightblue;
    text-transform: uppercase;
    text-decoration: none;
    cursor:pointer;
    position: relative;
    &:after{
        content:'\02795';
        position: absolute;
        right:1rem;
    }
    &.active:after{
        content:'\2796';
        position: absolute;
        right:1rem;
    }
}
 
.accordion-section-title:hover {
    background:#f8f8f8;
    /* Type */
    text-decoration:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
    background-color: #ffffff;
    padding-left: 75px;
}